[package]
name = "floramancer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
starframe = { path = "./starframe" }

wgpu = "0.10.1"
winit = "0.25.0"
serde = { version = "1.0.130", features = ["derive"] }
ron = "0.6.5"
