(
  player_start: (x: 6, y: 0.2),
  recipes: [
    StaticCapsuleChain (
      width: 0.05,
      points: [
        (1, 5), (8, 5), (8, 0),
        (5, 0), (5, -1), (8, -2), (8, -3), (7, -7),
        (-2, -7), (-8, -5), (-8, -2), (-5, -1), (-5, 0),
        (-8, 0), (-8, 5), (-1, 5),
      ],
    ),
    StaticCollider (
      pose: ( position: (-3, -2) ),
      coll: ( shape: Circle ( r: 0.5 ) ),
    ),
    StaticCollider (
      pose: ( position: (3, -2) ),
      coll: ( shape: Rect ( hw: 1, hh: 0.2 ) ),
    ),
  ],
)
